@model List<ThreadModel>

<div class="common-container">
    @foreach (var thread in Model)
    {
        <div class="section-header">
            <h1>
                <a href="@Url.Action("Index", "Forum", new { topicId = ViewData["TopicId"] })">
                    @ViewData["TopicTitle"]
                </a>
                <span>/ @thread.Title</span>
            </h1>
        </div>

        <div class="common-section">
            <div class="icons">
                <span>
                    @if (thread.isPinned)
                    {
                        <i class="fa-solid fa-thumbtack"></i>
                    }
                </span>
                <span class="relative-time" data-date="@thread.Date"></span>
                <span><i class="fa-regular fa-eye"></i>@thread.ViewCount</span>
            </div>
            <h2>@thread.Title</h2>
            <p style="white-space:pre-wrap">@thread.Text</p>
        </div>

        <div id="common-container" style="display: block;">
            @await Component.InvokeAsync("ReplyForm", new { threadId = thread.Id })
        </div>
        <div id="repliesSection">
            @await Component.InvokeAsync("Replies", new { threadId = thread.Id })
        </div>
    }
</div>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        function setToggleState() {
            var replyFormId = "reply-form-@ViewBag.ThreadId";
            var toggleState = localStorage.getItem(replyFormId + "-toggle");

            if (toggleState === "true") {
                $("#" + replyFormId).show();
            } else {
                $("#" + replyFormId).hide();
            }
        }

        setToggleState();

        $(".toggle-reply-form").click(function () {
            var replyFormId = $(this).data("reply-form");
            $("#" + replyFormId).toggle();

            var toggleState = $("#" + replyFormId).is(":visible");
            localStorage.setItem(replyFormId + "-toggle", toggleState.toString());
        });
    });
</script>