@model List<ThreadModel>

<div class="forumTopic-Container">
    <div class="forumTopic-Header">
        <h1>@ViewData["TopicTitle"]</h1>
        <a class="btn" href="@Url.Action("CreateThread", "Thread", new {topicId = ViewBag.TopicId})">
            <i class="fa-regular fa-plus"></i></a>
    </div>

    @if (Model != null && Model.Any())
    {
        <div class="forumTopic-Container">
            @foreach (var thread in Model)
            {
                <a class="forumTopic" href="@Url.Action("Index", "Thread", new {threadId = thread.Id})">
                    <div class="forumTopic-Section">
                        <h3>@thread.Title</h3>
                        @if (thread.isPinned) { <i class="fa-solid fa-thumbtack"></i> }
                    </div>
                    <p class="">@thread.Text</p>
                </a>
            }
        </div>
    }
    else
    {
        <p>No threads are available for this topic.</p>
    }
</div>