@model List<ThreadModel>

@if (Model != null && Model.Any())
{
    <div class="common-container">
        @foreach (var thread in Model)
        {
            <a class="common-section" href="@Url.Action("Index", "Thread", new {threadId = thread.Id})">
                <div class="icons">
                    <span>
                        @if (thread.isPinned)
                        {
                            <i class="fa-solid fa-thumbtack"></i>
                        }
                    </span>
                    <span><i class="fa-solid fa-fire"></i>@ViewData[$"ThreadScore_{thread.Id}"]</span>
                    <span><i class="fa-regular fa-folder"></i>@ViewData[$"ThreadTopic_{thread.TopicId}"]</span>
                    <span class="relative-time" data-date="@thread.Date"></span>
                    <span><i class="fa-regular fa-eye"></i>@thread.ViewCount</span>
                </div>
                <h2>@thread.Title</h2>
                <div class="paragraph-container">@thread.Text</div>
            </a>
        }
    </div>
}
else
{
    <div class="common-section">
        <p>No hot/trending threads are available.</p>
    </div>
}
